<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to our ScoreUp plantform.</h1> <hr>
    <h3>The ultimate destination for academic success, where knowledge meets innovation,
         and your revision journey transforms into an exhilarating adventure!</h3>
    <p>In order to explore our services, please Enter your fullname and passsword bellow:</p>
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="name">FullName</label>
        <input type="text" name="name"  placeholder="name"><br>
        <label for="password">password</label>
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
    <h2>You dont have an account? please create one  <a href="signup">Here.</a></h2>
</body>
</html>