<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="post">
    <label for="name">FullName:</label>
    <input type="text" name="name" placeholder="Enter your name" required><br>
    <label for="password">password</label>
    <input type="password" name="password" placeholder="Enter your password" required><br>
    <label for="telephone">Telephone</label>
    <input type="tel" id="phone" name="phone" placeholder="Tel Nummber"><br>
    <label for="school">School</label>
    <input type="text" name="school" placeholder="Enter your School"><br>

    <input type="submit">
    </form>
</body>
</html>